* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  min-height: 10vh;
  min-width: 100vw;
}
main {
  min-height: 85vh;
  max-width: 100vw;
  min-width: 100vw;
}
footer {
  min-height: 5vh;
  min-width: 100vw;
}
body {
  min-height: 100vh;
  background-color: pink;
  margin: 0px;
}
nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.nav_column {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}
.ilogo{
  width: 75px;
  position: relative;
  right: 10px;
}
a {
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(245, 41, 75);
  font-weight: bold;
  gap: 3vh;
  flex-wrap: wrap;
  margin: 20px 0px;
}
.banner {
  display: flex;
  justify-content: center;
}
.ibanner {
  width: 80%;
  height: 100%;
  border-radius: 10%;
  border: 4px solid white;
  box-shadow: 0 0 2px;
}
.selected {
  background-color: pink;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid black;
}
.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5vh;
}
.background {
  background-color: rgb(245, 41, 75);
}
.home {
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.ihome {
  width: 30vw;
  height: 20vh;
  border-radius: 10%;
  border: 4px solid white;
  box-shadow: 0 0 2px;
  object-fit: cover;
}
.aflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.strawberry {
  width: 30%;
  display: flex;
  position: relative;
}
.redcream {
  width: 30%;
  display: flex;
  position: relative;
}
.cflex {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.icecream {
  width: 30%;
  display: flex;
  position: relative;
}
table {
  width: 30vw;
  height: 30vh;
  border-collapse: collapse;
  border: black solid 2px;
  text-align: center;
}
tr {
  border: black solid 2px;
}
td {
  border: black solid 2px;
}
.tdiv {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol {
  text-align: justify;
}
ul {
  margin-left: 15px;
}

.flexbene {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.mbene {
  margin-left: 18px;
}
.map {
  width: 60vw;
  height: 30vh;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text_form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 10px;
}
.dform {
  display: flex;
  justify-content: center;
}
.dterm {
  display: flex;
}
.raffle_term {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    max-width: 100vw;
  }
  .nav_column {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    height: 100%;
    width: 60vw;
  }
  .home {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .ibanner {
    width: 80%;
    height: 40vh;
    border-radius: 10%;
    border: 4px solid white;
    box-shadow: 0 0 2px;
    object-fit: cover;
  }
  .aflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  a {
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 10px;
  }

  .redcream {
    width: 30%;
    display: flex;
    position: relative;
    left: 5px;
  }

  .strawberry {
    width: 30%;
    display: flex;
    position: relative;
    right: 25px;
  }
  body {
    min-height: 100vh;
    background-color: pink;
    margin: 0px;
    overflow-x: hidden;
  }
  .cflex {
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .flexbene {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }

  .mbene {
    margin-left: 0px;
    position: relative;
    left: 35px;
  }
  .ibene{
    position: relative;
    left: 11px;
  }
  .raffle_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .map {
    width: 25vw;
    height: 25vh;
  }
}
